/* ChatPage.css - Color Scheme Matched */

body, h1, h2, h3, p, ul, ol, nav, figure, figcaption, button {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif; /* Font consistency */
  }
  
  .chat-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 600px;
      margin: 0 auto;
      border: 1px solid #ddd;
      overflow: hidden;
  }
  
  .messages-container {
      flex-grow: 1;
      overflow-y: auto;
      background-color: #f9f9f9; /* Light background for the messages area */
      padding: 20px;
      display: flex;
      gap: 10px;
      flex-direction: column;
  }
  
  .message-container {
      display: flex;
      flex-direction: column;
  }
  
  .sender-name {
      font-size: 0.8rem;
      color: #423048; /* Dark purple text for consistency */
  }
  
  .message {
      padding: 10px;
      border-radius: 20px;
      max-width: 75%;
  }
  
  .text-message {
      background-color: #59475f; /* Darker purple for text messages, consistent with AdminDashboard */
      color: white;
      align-self: flex-end;
  }
  
  .audio-message {
      align-self: flex-end;
  }
  
  .input-container {
      padding: 10px;
      background-color: #d5cbb7; /* Light background for input area, matching AdminDashboard */
      display: flex;
      gap: 10px;
      border-top: 1px solid #ddd;
  }
  
  .message-input {
      flex-grow: 1;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 20px;
  }
  
  button {
      padding: 10px 15px;
      border: none;
      border-radius: 20px;
      cursor: pointer;
      font-weight: bold;
  }
  
  .send-button {
      background-color: #59475f; /* Green button for send */
      color: white;
  }
  
  .record-button {
      background-color:  #deafa1; /* Red button for recording */
      color: white;
  }
  
  .button-logo {
      margin-right: 8px;
      height: 25px;
      vertical-align: middle; 
  }
  