.parent-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full height of the viewport */
    text-align: center;
    padding: 20px;
    background-color: #f4f4f4; /* Light grey background */
    color: #2c3e50; /* Dark text color for contrast */
  }
  
  .parent-page-container h1 {
    margin-bottom: 1rem;
    font-size: 2em;
  }
  
  .parent-page-container p {
    font-size: 1em;
  }
  